# Python cache
__pycache__/
.ipynb_checkpoints/

# Virtual environments
venv/
env/
ENV/
.venv/

# ZIP files
*.zip
*.rar
*.7z
*.tar
*.gz

# ML model files
*.pkl
*.joblib
*.h5
*.pt
*.pth

# OS files
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Logs
*.log

images_dataset/